.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    border-bottom: 4px solid var(--Blue, #2271D1);
    box-shadow:29px 5px 0px 0px #2271D1B2;

}

.cabecalho img {
    padding: 42px 51px;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 0 51px;
}